<div class="form-container">
  <mat-card class="signup">
    <mat-card-content>
      <h2>Signup</h2>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="pad-right">
                <input matInput type="text" placeholder="First name" formControlName="firstname">
                <mat-error *ngIf="isFieldInvalid('firstname') && signupForm.controls['firstname'].touched" class="error-message">
                  First name is required
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="pad-left">
                <input matInput type="text" placeholder="Last name" formControlName="lastname">
                <mat-error *ngIf="isFieldInvalid('lastname') && signupForm.controls['lastname'].touched" class="error-message">
                    Last name is required
                  </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
          <mat-error *ngIf="isFieldInvalid('email') && signupForm.controls['email'].touched" class="error-message">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password') && signupForm.controls['password'].touched" class="error-message">
            Atleast 8 characters, 1 lowercase, 1 uppercase, 1 number, 1 symbol
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="signupForm.controls['confirmPassword'].touched && signupForm.controls['password'].value && matchPasswordValidator()" class="error-message">
            Passwords do not match
          </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Signup</button>

        <div class="links">
          <a href="/login">Already have an account?</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>