<h2>Edit User</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="User" [(ngModel)]="data.user" name="user">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Role" [(ngModel)]="data.role" name="role">
  </mat-form-field>

  <div *ngFor="let module of data.module">
    <mat-checkbox [(ngModel)]="module.checked" name="module">{{ module }}</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
</form>
