<mat-toolbar color="primary">
    <!-- <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between"> -->
    <mat-toolbar-row>
        <span>View Details</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <table id="customers">
        <tr>
            <td><b>Name:</b>{{data?.customer.name}}<b></b></td>
            <td><b>Email:</b>{{data?.customer.email}}</td>
        </tr>
        <tr>
            <td><b>Contact Number:</b>{{data?.customer.contactNumber}}</td>
            <td><b>Payment Method</b>{{data?.customer.paymentMethod}}</td>
        </tr>
    </table>

    <div class="responsive_table">
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let element">{{element.product}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">{{element.price}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            </ng-container>
            
            <ng-container matColumnDef="rider">
                <th mat-header-cell *matHeaderCellDef>Rider</th>
                <td mat-cell *matCellDef="let element">{{element.rider}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">{{element.total}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </div>
</mat-dialog-content>