<div class="form-container">
    <mat-card>
      <mat-card-content>
        <h2>Reset Password</h2>
  
        <mat-form-field>
          <input matInput type="text" placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="sendResetLink()">Send reset link</button>
        
        <div class="links">
          <a href="/signup">Create an account</a>
          <a href="/login">Login account</a>
        </div>
  
      </mat-card-content>
    </mat-card>
  </div>
  