
.middle-section {
  display: flex;
  justify-content: space-between;

  // Adjust width based on container height
  @media only screen and (max-height: 93.75vh) {
    width: 80vw;
  }
  @media only screen and (max-height: 87.5vh) {
    width: 74vw;
  }
  @media only screen and (max-height: 81.25vh) {
    width: 68vw;
  }
  @media only screen and (max-height: 70vh) {
    width: 59vw;
  }

  .widget {
    height: 35.44vh;
    background-color: #fff;
    border-radius: 5px;
    margin: 1.56vh;
    box-shadow: 1.56vh 1.56vh 1.56vh #939393;

    &.left {
      width: 40.38vw;

      // Adjust width based on container height
      @media only screen and (max-height: 93.75vh) {
        width: 52.38vw;
      }
      @media only screen and (max-height: 87.5vh) {
        width: 45.38vw;
      }
      @media only screen and (max-height: 81.25vh) {
        width: 38.38vw;
      }
      @media only screen and (max-height: 70vh) {
        width: 31.38vw;
      }
    }

    &.right {
      width: 48.69vw;
    }
  }
  //date picker
  mat-form-field {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;

  .widget {
    height: 55.63vh;
    background-color: #fff;
    border-radius: 5px;
    margin: 1.56vh;
    box-shadow: 1.56vh 1.56vh 1.56vh #939393;

    &.left {
      width: 39.06vw;

      // Adjust width based on container height
      @media only screen and (max-height: 70vh) {
        width: 33.13vw;
      }
    }

    &.right {
      width: 38.69vw;

      // Adjust width based on container height
      @media only screen and (max-height: 93.75vh) {
        width: 38.13vw;
      }
      @media only screen and (max-height: 87.5vh) {
        width: 27.5vw;
      }
      @media only screen and (max-height: 81.25vh) {
        width: 21.88vw;
      }
      @media only screen and (max-height: 70vh) {
        width: 21.88vw;
      }
    }
  }
}