<app-card-title [title]="cardTitle"></app-card-title>

<div class="middle-section">
  <div class="widget left">
    <div class="chart-container">
      <app-top-meal></app-top-meal>
    </div>
  </div>
  <div class="widget right">
    <div class="chart-container">
      <app-order-status></app-order-status>
    </div>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <div class="chart-container">
      <app-no-cancel-rate></app-no-cancel-rate>
    </div>
  </div>
  <div class="widget right">
    <app-category-performance></app-category-performance>
  </div>
</div>