<app-card-title [title]="cardTitle"></app-card-title>

<div class="middle-section">
  <div class="widget left">
    <div class="chart-container">
      <widget-top-meal [orderTopMeal]="orderTopMeal" #topMealComponent></widget-top-meal>
    </div>
  </div>
  <div class="widget right">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter"
        [(ngModel)]="selectedDate" (ngModelChange)="onDateSelected()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="chart-container">
      <widget-order-status [orderStatusByDay]="orderStatusByDay" #orderStatusComponent></widget-order-status>
    </div>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <div class="chart-container">
      <widget-no-cancel-rate [orderCancelRate]="orderCancelRate" #noCancelComponent></widget-no-cancel-rate>
    </div>
  </div>
  <div class="widget right">
    <mat-slide-toggle (change)="toggleWidgets()">Yearly</mat-slide-toggle>
    <widget-category-performance 
      [orderCategoryPerformance]="orderCategoryPerformance" [hidden]="isYearlyToggleActive" #categoryPerformanceComponent>
    </widget-category-performance>
    <widget-category-yearly [orderCategoryYearlyPerformance]="orderCategoryYearlyPerformance" 
      [hidden]="!isYearlyToggleActive" #categoryYearComponent></widget-category-yearly>
    </div>
</div>