<div class="form-container">
    <mat-card>
      <mat-card-content>
        <h2>Reset Password</h2>
  
        <mat-form-field>
          <input matInput type="password" placeholder="password" [(ngModel)]="password">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="confirm password">
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="confirmChangePassword()">Confirm</button>
      </mat-card-content>
    </mat-card>
  </div>
  