<div class="container">
  <!-- <mat-card>
    <mat-card-title>Manage Users</mat-card-title>
  </mat-card> -->
  <app-card-title [title]="cardTitle"></app-card-title>
  <hr>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <!-- <div class="search-bar">
          <label>Search</label>&nbsp;
          <input type="text" />
        </div> -->
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-card-content>
      <!-- <button type="button" class="button" (click)="manageRole()"><mat-icon>add_circle</mat-icon> Manage Role</button> -->
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <!-- add title if needed -->
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let user">{{ user.user }}</td>
          </ng-container>
      
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let user">{{ user.role.role }}</td>
          </ng-container>
      
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let user">{{ user.role.description }}</td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let user">{{ user.status }}</td>
          </ng-container>
      
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let user">
              <button mat-icon-button color="primary" (click)="editUser(user)" [disabled]="user.role.role === 'Admin'">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUser(user)" [disabled]="user.role.role === 'Admin'">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="['user', 'role', 'description', 'status', 'actions']"></tr>
          <tr mat-row *matRowDef="let user; columns: ['user', 'role', 'description', 'status', 'actions']"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
