<h2 mat-dialog-title class="title">{{ action}} Product</h2>

<mat-dialog-content>
  <form>
    <mat-form-field class="form-input full-width" *ngIf="action !== 'Delete'">
      <input matInput placeholder="Name" [(ngModel)]="productName" name="productName"/>
    </mat-form-field>

    <mat-form-field class="form-input full-width" *ngIf="action === 'Add'">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="productCategory" name="productCategory">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>    

    <mat-form-field class="form-input full-width" *ngIf="action === 'Edit'">
      <mat-label>Category edit</mat-label>
      <mat-select [(ngModel)]="selectedCategory" name="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
      </mat-select>
    </mat-form-field>  

    <mat-form-field class="form-input full-width" *ngIf="action !== 'Delete'">
      <textarea
        matInput
        placeholder="Description"
        [(ngModel)]="productDescription"
        name="productDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form-input full-width" *ngIf="action !== 'Delete'">
      <input
        matInput
        type="number"
        placeholder="Price"
        [(ngModel)]="productPrice"
        name="productPrice"
      />
    </mat-form-field>

    <mat-form-field class="form-input full-width" *ngIf="action !== 'Delete'">
      <input
        matInput
        type="number"
        placeholder="Stock"
        [(ngModel)]="productStock"
        name="productStock"
      />
    </mat-form-field>
  </form>
  <p *ngIf="action === 'Delete'">Do you want to delete {{ productName }}?</p>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" (click)="addProduct()" [hidden]="action !== 'Add'">Add</button>
  <button mat-raised-button color="primary" (click)="editProduct()" [hidden]="action !== 'Edit'">Edit</button>
  <button mat-raised-button color="warn" (click)="deleteProduct()" [hidden]="action !== 'Delete'">Delete</button>
  <button mat-raised-button color="" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
