.temporary-password-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #2196F3;
}

.temporary-password-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

mat-card-content {
    text-align: center;
}