<div class="form-container">
  <mat-card>
    <mat-card-content>
      <mat-error class="centered-error" *ngIf="authenticationError">Invalid Credentials or invalid status</mat-error>
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="email">
          <mat-error *ngIf="isFieldInvalid('email') && loginForm.controls['email'].touched">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password') && loginForm.controls['password'].touched">
            Please enter a valid password
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <div class="links">
        <a href="/signup">Don't have an account?</a>
        <a href="/reset-password">Forgot password?</a>
      </div>

    </mat-card-content>
  </mat-card>
</div>
