<div class="form-container">
    <mat-card>
      <mat-card-content>
        <h2>Create New Password</h2>
  
        <form [formGroup]="passwordForm" (ngSubmit)="confirmChangePassword()">
          <mat-form-field>
            <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
            <mat-error *ngIf="isFieldInvalid('oldPassword') && passwordForm.controls['oldPassword'].touched">
              Password is required
            </mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="password" placeholder="New Password" formControlName="newPassword">
            <mat-error *ngIf="isFieldInvalid('newPassword') && passwordForm.controls['newPassword'].touched">
              Password is required
            </mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword">
            <mat-error *ngIf="isFieldInvalid('confirmPassword') && passwordForm.controls['confirmPassword'].touched">
              Passwords do not match
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Confirm</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
