<h2>Edit User</h2>
<form>
  <mat-form-field>
    <input matInput placeholder="User" [(ngModel)]="data.user" name="user">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Role" [(ngModel)]="data.role" name="role">
      <mat-option *ngFor="let role of roles" [value]="role">{{ role.role }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Role" [(ngModel)]="data.status" name="status">
      <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
</form>
